/*<General styles>*/ 
.Table .Header {
  position: sticky;
  grid-row: 1;
  top: 0;
  font-weight: bold;
  background-color: blue;
  color: white;
  border: 1px solid lightblue;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 0 0.5em;
}
.Table .Cell {
  padding: 0.5em 1em;
  border-bottom-style: solid;
  border-width: 1px;
  vertical-align: middle;
  grid-row: inherit;
}
/*</General styles>*/

/*<Success styling>*/
.Table .Cell .Success {
  padding: 0.25em;
}
.Table .Cell .Success-1 {
  background-color: rgba(255, 255, 0, 0.3)
}
.Table .Cell .Success0 {
  background-color: rgba(255, 0, 0, 0.3)
}
.Table .Cell .Success1 {
  background-color: rgba(0, 255, 0, 0.3)
}
/*</Success styling>*/

/*<Reorder>*/
.Table {
  grid-auto-flow: dense;
}
.Table .Col2 {
  grid-column: 3;
}
/*</Reorder>*/

/*<Row highlight>*/
.Table {
  overflow: hidden;
}
.Cell {
  position: relative;
}
.Cell:hover::after {
  content: "";
  position: absolute;
  background-color: lightgrey;
  top: 0;
  left: -5000px;
  width: 10000px;
  height: 100%;
  z-index: -1;
}
/*</Row highlight>*/

