Require all denied

<FilesMatch "\.json$">
    Require all granted
    Header set Content-Type "application/json; charset=utf-8"
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET"
</FilesMatch>
