Require all denied

<FilesMatch "^(index\.php)?$">
    Require all granted
</FilesMatch>

<FilesMatch "\.json$">
    Require all granted
# doesn't work
<ifModule mod_headers.c>
    Header unset ETag
    Header add Access-Control-Allow-Origin: "*"
    Header add Access-Control-Allow-Methods: "GET,POST"
    Header add Access-Control-Allow-Headers: "Content-Type"
</ifModule>
</FilesMatch>
